@charset "utf-8";
/* CSS Document */
body {
	background: url(../imgs/gsr-wallpaper.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-weight: 500;
	line-height: normal;
}
@media (min-width:1670px) {
header {
	height: 120px;
	width: 70%;
	margin:auto;
	display: block;
    background: #000000 url(../imgs/gsr-footer-wallpaper.jpg) no-repeat center center;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
	position: relative;
	text-align: center;
}
#svg {
	perspective: 1000px;
	position: relative;
	height: 120px;
	width: 180px;
	background: url(../imgs/gsr_logo_gradient.jpg) repeat-x top left;
	box-sizing: border-box;
	padding-top: 40px;
	display: block;
	float: left;
}
nav {
	padding: 0;
	margin-top: -20px;
	position: relative;
	margin-left: 20%;
}
nav ul {
	list-style: none;
	display: block;
	height: 40px;
	top: 50px;
	left: 0;
	position: absolute;
}
nav ul li {
	font-size: 14px;
	color: #ffffff;
	display: inline-block;
	margin-left:40px;
}
nav ul li a {
	color:rgba(255,255,255,1.00);
	text-decoration:none;
	padding:3px;}
nav ul li a:visited {
	color: #ffffff;}
nav ul li a:hover {
	border-radius: 20px;
	padding:3px;
	background-color: #ffffff;
	color: #cc0000;}
#top_row {	
	height: 250px;
	width: 90%;
	margin:0 0 0 10%;}
#top_row img {
	width:100%;
	height:240px;}	
#reviews {
	height: 240px;
	width: 420px;
	margin: 0 0 0 5%;
	padding:0;
	float:left;}	
#reviews h2 {
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(176,4,7,1.00);
	text-shadow:1px 1px 2px rgba(115,51,53,1.00);}	
#news {
	height: 240px;
	width: 420px;
	margin: 0 0 0 3%;
	padding:0;
	float:left;}	
#news h2 {
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(176,4,7,1.00);
	text-shadow:1px 1px 2px rgba(115,51,53,1.00);}
#social {
	height: 240px;
	width: 420px;
	margin: 0 0 0 3%;
	padding:0;
	float:left;}	
#social h2 {
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(176,4,7,1.00);
	text-shadow:1px 1px 2px rgba(115,51,53,1.00);}

}
@media (min-width:960px) and (max-width:1669px) {
header {
	height: 120px;
	width: 70%;
	margin:auto;
	display: block;
    background: #000000 url(../imgs/gsr-footer-wallpaper.jpg) no-repeat center center;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
	position: relative;
	text-align: center;
}
#svg {
	perspective: 1000px;
	position: relative;
	height: 120px;
	width: 180px;
	background: url(../imgs/gsr_logo_gradient.jpg) repeat-x top left;
	box-sizing: border-box;
	padding-top: 40px;
	display: block;
	float: left;
}
nav {
	padding: 0;
	margin-top: -20px;
	position: relative;
	margin-left: 20%;
}
nav ul {
	list-style: none;
	display: block;
	height: 40px;
	top: 50px;
	left: 0;
	position: absolute;
}
nav ul li {
	font-size: 14px;
	color: #ffffff;
	display: inline-block;
	margin-left:40px;
}
nav ul li a {
	color:rgba(255,255,255,1.00);
	text-decoration:none;
	padding:3px;}
nav ul li a:visited {
	color: #ffffff;}
nav ul li a:hover {
	border-radius: 20px;
	padding:3px;
	background-color: #ffffff;
	color: #cc0000;}
#top_row {	
	height: 250px;
	width: 90%;
	margin:0 0 0 10%;}
#top_row img {
	width:100%;
	height:215px;}	
#reviews {
	height: 240px;
	width: 29%;
	margin: 0 0 0 1%;
	padding:0;
	float:left;}	
#reviews h2 {
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(176,4,7,1.00);
	text-shadow:1px 1px 2px rgba(115,51,53,1.00);}	
#news {
	height: 240px;
	width: 29%;
	margin: 0 0 0 1%;
	padding:0;
	float:left;}	
#news h2 {
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(176,4,7,1.00);
	text-shadow:1px 1px 2px rgba(115,51,53,1.00);}
#social {
	height: 240px;
	width: 29%;
	margin: 0 0 0 1%;
	padding:0;
	float:left;}	
#social h2 {
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(176,4,7,1.00);
	text-shadow:1px 1px 2px rgba(115,51,53,1.00);}	
}
@media (min-width:481px) and (max-width:959px) {
header {
	height: 120px;
	width: 70%;
	margin:auto;
	display: block;
    background: #000000 url(../imgs/gsr-footer-wallpaper.jpg) no-repeat center center;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
	position: relative;
	text-align: center;
}
#svg {
	perspective: 1000px;
	position: relative;
	height: 120px;
	width: 180px;
	background: url(../imgs/gsr_logo_gradient.jpg) repeat-x top left;
	box-sizing: border-box;
	padding-top: 40px;
	display: block;
	float: left;
}
nav {
	padding: 0;
	margin-top: -20px;
	position: relative;
	margin-left: 20%;
}
nav ul {
	list-style: none;
	display: block;
	height: 40px;
	top: 50px;
	left: 50px;
	position: absolute;
}
nav ul li {
	font-size: 14px;
	color: #ffffff;
	display: inline-block;
	margin-left:10px;
}
nav ul li a {
	font-size:.7em;
	color:rgba(255,255,255,1.00);
	text-decoration:none;
	padding:3px;}
nav ul li a:visited {
	color: #ffffff;}
nav ul li a:hover {
	border-radius: 20px;
	padding:3px;
	background-color: #ffffff;
	color: #cc0000;}
#top_row {	
	height: 250px;
	width: 90%;
	margin:0 0 0 10%;}
#top_row img {
	width:100%;
	height:180px;}	
#reviews {
	height: 18px;
	width: 29%;
	margin: 0 0 0 1%;
	padding:0;
	float:left;}	
#reviews h2 {
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(176,4,7,1.00);
	text-shadow:1px 1px 2px rgba(115,51,53,1.00);}	
#news {
	height: 18px;
	width: 29%;
	margin: 0 0 0 1%;
	padding:0;
	float:left;}	
#news h2 {
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(176,4,7,1.00);
	text-shadow:1px 1px 2px rgba(115,51,53,1.00);}
#social {
	height: 18px;
	width: 29%;
	margin: 0 0 0 1%;
	padding:0;
	float:left;}	
#social h2 {
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(176,4,7,1.00);
	text-shadow:1px 1px 2px rgba(115,51,53,1.00);}	
}
@media (min-width:320px) and (max-width:480px) {
header {
	height: 120px;
	width: 70%;
	margin:auto;
	display: block;
    background: #000000 url(../imgs/gsr-footer-wallpaper.jpg) no-repeat center center;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
	position: relative;
	text-align: center;
}
#svg {
	perspective: 1000px;
	position: relative;
	height: 120px;
	width: 150px;
	background: url(../imgs/gsr_logo_gradient.jpg) repeat-x top left;
	box-sizing: border-box;
	padding-top: 40px;
	display: block;
	float: left;
}
nav { 
	padding: 0;
	margin-top: -20px;
	position: relative;
	margin-left: 20%;
}
nav ul {
	list-style: none;
	display: block;
	height: 40px;
	top:10px;
	left: 0;
	position: absolute;
}
nav ul li {
	font-size: 14px;
	color: #ffffff;
	margin-left:90px;
}
nav ul li a {
	font-size:.6em;
	color:rgba(255,255,255,1.00);
	text-decoration:none;
	padding:3px;}
nav ul li a:visited {
	color: #ffffff;}
nav ul li a:hover {
	border-radius: 20px;
	padding:3px;
	background-color: #ffffff;
	color: #cc0000;}
#top_row {	
	height: 250px;
	width: 90%;
	margin:0 0 0 10%;}
#top_row img {
	width:100%;
	height:180px;}	
#reviews {
	height: 18px;
	width: 29%;
	margin: 0 0 0 1%;
	padding:0;
	float:left;}	
#reviews h2 {
	font-size:.8em;
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(176,4,7,1.00);
	text-shadow:1px 1px 2px rgba(115,51,53,1.00);}	
#news {
	height: 18px;
	width: 29%;
	margin: 0 0 0 1%;
	padding:0;
	float:left;}	
#news h2 {
	font-size:.8em;
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(176,4,7,1.00);
	text-shadow:1px 1px 2px rgba(115,51,53,1.00);}
#social {
	height: 18px;
	width: 29%;
	margin: 0 0 0 1%;
	padding:0;
	float:left;}	
#social h2 {
	font-size:.8em;
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(176,4,7,1.00);
	text-shadow:1px 1px 2px rgba(115,51,53,1.00);}	
}
@media (max-width:319px) {
header {
	height: 120px;
	width: 70%;
	margin:auto;
	display: block;
    background: #000000 url(../imgs/gsr-footer-wallpaper.jpg) no-repeat center center;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
	position: relative;
	text-align: center;
}
#svg {
	perspective: 1000px;
	position: relative;
	height: 120px;
	width: 130px;
	background: url(../imgs/gsr_logo_gradient.jpg) repeat-x top left;
	box-sizing: border-box;
	padding-top: 40px;
	display: block;
	float: left;
}
nav { 
	padding: 0;
	margin-top: -20px;
	position: relative;
	margin-left: 20%;
}
nav ul {
	list-style: none;
	display: block;
	height: 40px;
	top:10px;
	left: 0;
	position: absolute;
}
nav ul li {
	font-size: 14px;
	color: #ffffff;
	margin-left:70px;
}
nav ul li a {
	font-size:.6em;
	color:rgba(255,255,255,1.00);
	text-decoration:none;
	padding:3px;}
nav ul li a:visited {
	color: #ffffff;}
nav ul li a:hover {
	border-radius: 20px;
	padding:3px;
	background-color: #ffffff;
	color: #cc0000;}
#top_row {	
	height: 250px;
	width: 90%;
	margin:0 0 0 10%;}
#top_row img {
	width:100%;
	height:180px;}	
#reviews {
	height: 18px;
	width: 29%;
	margin: 0 0 0 1%;
	padding:0;
	float:left;}	
#reviews h2 {
	font-size:.8em;
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(176,4,7,1.00);
	text-shadow:1px 1px 2px rgba(115,51,53,1.00);}	
#news {
	height: 18px;
	width: 29%;
	margin: 0 0 0 1%;
	padding:0;
	float:left;}	
#news h2 {
	font-size:.8em;
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(176,4,7,1.00);
	text-shadow:1px 1px 2px rgba(115,51,53,1.00);}
#social {
	height: 18px;
	width: 29%;
	margin: 0 0 0 1%;
	padding:0;
	float:left;}	
#social h2 {
	font-size:.8em;
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(176,4,7,1.00);
	text-shadow:1px 1px 2px rgba(115,51,53,1.00);}	
}	